<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web App Using Flask</title>
  </head>
  <body>
    {% extends "layout.html" %}
    {% block content %}
    <div class = "home">
    <h1> Web App Using Flask </h1>
    <h4> Welcome! </h4>
    <p> I created this portfolio website using Flask and Google Cloud Platform. <br>If you want
        to learn how to create it please see this repo in github or you can copy the Docker image.</p>
    </div>
    {% endblock %}
  </body>
</html>
