<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    {% extends "layout.html" %}
    {% block content %}
  <!-- First Photo Grid-->
<div class="row">
  <div class="column">
    <div class="content">
      <!--<img src="/w3images/sandwich.jpg" alt="Sandwich" style="width:100%">-->
      <h3>Project A</h3>
      <p>Description about project A</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <h3>Project B</h3>
      <p>Description about project B</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <h3>Project C</h3>
      <p>Description about project C</p>
    </div>
  </div>
        {% endblock %}
   </div>